fastapi
uvicorn
sqlalchemy
psycopg2-binary
redis
pydantic
pydantic-settings
python-dotenv
asyncpg

# Testes
pytest
pytest-asyncio
pytest-cov
pytest-mock

# Langchain
langchain
langchain-openai
langchain-community
langchain-core

# OpenAI
openai

# aws
boto3

# AI
pydantic-ai
pydantic[email]


